body {
    scrollbar-width: none;}
p{
        font-family: letra3;
        font-size: 40px;
        color: #852810;
        text-align: center;}

/*Document Title*/
    .title{
    margin-top: 130px;
    margin-left: 190px;
    text-decoration: none;
    font-family: letra3;
    position: relative; 
    color: #00000027;
    font-size: 150px; 
    -webkit-text-stroke: 5px black;
    letter-spacing: 5px;
    z-index: 30;}

/*Cheeses chart*/
        /*IMAGE*/
            .melted{
    background-image: url(imagenes/dios.png);
    min-height: 819px;
    margin-top: -100px;
    width: 1442px;
    margin-left: -10px;
    background-repeat: no-repeat;
    z-index: 4;
    position: relative;}
    
        /*IMAGES OF CHEESES*/
            .cheeses{
    background-color:#ff7b1d00;
    position: absolute;
    height: 220px;
    width: auto px;
    margin-top: 370px;
    margin-left: 150px;
    overflow: visible;

    transition: 0.6s;} 
            .hard{
    background-color:#ff7b1d00;
    position: absolute;
    height: 220px;
    width: auto px;
    margin-top: 370px;
    margin-left: 450px;
    overflow: visible;}
            .fresh{
    background-color:#ff7b1d00;
    position: absolute;
    height: 220px;
    width: auto px;
    margin-top: 370px;
    margin-left: 780px;
overflow: visible;

transition: 0.6s;
}
            .semi{
    background-color:#ff7b1d00;
    position: absolute;
    height: 220px;
    width: auto px;
    margin-top: 370px;
    margin-left: 1080px;
overflow: visible;}
    
        /*WORDS IN THE CHEESES CHART*/
            .electrolito{
    justify-content: center;
    margin-top: 220px;
    margin-left: 500px;

    text-align: center;
    position: absolute;
    width: auto;
    background-color: rgba(0, 255, 255, 0);

    transition: 0.6s;}

        /*DROPDOWN*/ 
            .drops {
    position: relative;
    display: inline-block;
    margin-top: 10px; 
    z-index: 2;} 
            .drops-content {
    display: none;
    position: relative;
    background-color: #fdd2b6;
    border-radius: 15%;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 202;}
            .drops:hover .drops-content {
    display: block;}
            .desc {
        padding: 15px;
        padding-bottom: 20px;
        text-align: center;
        font-family: letrica2;}

/*Order Now button*/
        .button {
            background-color: #a72b01ca;
            border: none;
            height: 90px;
            width: 342px;
            color: #a72b01ca;
            text-align: center;
            border-radius: 20px;
            text-decoration: none;
            display: block;
            font-size: 16px;
            margin: -230px 900px;
            transition-duration: 0.4s;
            cursor: pointer;
            z-index: 50;
            position: absolute;
            font-family: letra5;
            font-size: 35px;
            letter-spacing: 5px;
            font-variant-position: normal;}
        .button1 {
    background-color: #f34d16; 
    padding-top: 40px;
    color: #ffff; }
    /*a72b01ca*/
        .button1:hover {
    background-color: #b42e02;
    color: white;}
  
/* spaces*/
    /* 95*/
        .td3{
    width: 95px;}

        .td8{
        width: 95px;}
        ul.a {
            list-style-type: circle;
          }
          
          
/*Background images*/
    .banner22{ /*Foto 1*/
      background-image: url("imagenes/tutu.png");
      min-height: 1000px;
      width: 1442px;
      margin-top: -900px;
      margin-left: -10px;
      background-repeat: no-repeat;
      background-size:cover;} 
    .banner44{ /*Foto 2*/
        background-image: url("imagenes/hamburger.jpg");
        height: 925px;
        width: 1442px;
        position: relative;
      margin-top: -200px;
      margin-left: -10px;
        background-repeat: no-repeat;
        background-size:cover;
        z-index: 1;} 

        .laish{
            height: 100px;
            width: 100px;
            background-color: rgb(35, 212, 79);
        }


/*Scrollbar*/
    body:-webkit-scrollbar {
    display: none;}


/*Header*/
        /*BOX FOR HEADER*/
            ul {
        list-style-type: none;
        width: 1420px;
        height: 70px;
        margin-left: 60px;
        margin-top: -130px;
        padding-left: 40px;
        overflow:visible;
        background-color: #ab4903;
        z-index: 60;
        position: fixed;
        transition: top 0.3s; 
        display: block;}
            ul.hide {
        top: -53px;}
        
        /* WORDS FOR HEADER*/
            li {
    float: left;
    position:relative;
    z-index: 8;} 
            li a {
    display: block;
    font-family: letrica;
    font-size: 20px;
    color: white;
    text-align:left;
    position: relative;
    padding: 25px 88px;
    text-decoration: none;

    transition: 0.6s;
    z-index: 8;}
            li a:hover {
    background-color: #FF7C1D;}

        /*LOGO*/
            .logo{ 
                background-image: url(imagenes/yyy.png);
                height: 235px;
                width: 235px;
                margin-left: -50px;
                margin-top: -230px;
                position: fixed;
                font-family: letrica;
                z-index: 70;}

        /*ICONS*/
            .img {
                padding-top: 22px;
                padding-left: 24px;
                padding-right: 24px;
                padding-bottom: 22px;
                margin-top: 0px;
                margin-left: 30px;
                display: block;   
            
    transition: 0.6s;}       

            .img:hover {
                background-color: #FF7C1D;}

        /*DROPDOWN*/
            /*LETTERS FOR DROPDOWN*/
                ol a{ 
    display: block;
    font-family: letrica2;
    font-size: 15px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    margin-left: -70px;
    margin-right: -20px;
    padding-top: 19px; 
    position: relative;
    padding-bottom: 16px; 
    padding-right: 40px;
    padding-left: 40px;
    overflow:hidden;
    z-index: 30;  }
                ol a:hover {
    background-color: #FF7C1D;}  

    

            /*DROPDOWN SETTINGS*/
                .dropbtn2{
                cursor: grabbing;
                margin-top: -73px;
                margin-left: 1200px;
                padding-top: -11px;
                padding-right: 65px;
                padding-bottom: 69px;
                position: absolute;
                background-repeat: no-repeat;
                background-size: 24px;
                border-style: none;
                background-color: #ab4903;
                background-image: url(icons/ajustes-2.png);
                background-position: center;} 
                .dropbtn2:hover{
                background-color: #FF7C1D;
                padding-bottom: 5px;
                padding-top: 65px;
                padding-right: 65px;
                margin-top: -72px;}
                .dropdn2 {
                    position: relative;
                    display: block;}  
                .dropdn2-content {
                text-align: center;
                display: none;
                position: absolute;

               
                background-color: #ab490300;
                width: 170px;
                height:122px;
                margin-top: 7px;
                margin-left: 1155px;
                border-radius: 15%;
            animation-name: dropdown;
            animation-duration: 0.15s;
                z-index: 1010;} 


            /*DROPDOWN USUARIO*/
                /*Hover*/
                    .dropbtn3{
                cursor: grabbing;
                margin-top: -73px;
                margin-left: 1130px;
                padding-top: -11px;
                padding-right: 65px;
                padding-bottom: 69px;
                position: absolute;
                background-repeat: no-repeat;
                background-size: 24px;
                border-style: none;
                background-color: #ab4903;
                background-image: url(icons/usuario.png);
                background-position: center;} 
                    .dropbtn3:hover{
                background-color: #FF7C1D;
                padding-bottom: 5px;
                padding-top: 65px;
                padding-right: 65px;
                margin-top: -72px;}
                    .dropdn3 {
                    position: relative;
                    display: block;}  
                    .dropdn3-content {
                text-align: center;
                display: none;
                position: absolute;
                box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.438);
                overflow:hidden;
                background-color: #ab4903d3;
                width: 180px;
                height: 116px;
                margin-top: 7px;
                margin-left: 1075px;
            animation-name: dropdown;
            animation-duration: 0.15s;
                border-radius: 15%;
                z-index: 1010;} 
                    .show3{
                    display: block;}
                 

            /*CLICK DROPDOWN COMPRAR*/
                .dropbtn{
            cursor: grabbing;
            margin-top: 0px;
            margin-left: 3px;
            padding-top: 65px;
            padding-right: 65px;
            padding-bottom: 5px;
            background-repeat: no-repeat;
            background-size: 24px;
            border-style: none;
            background-color: #AB4903;
            background-image: url(icons/carrito-de-compras.png);
            background-position: center;}  
                .dropbtn:hover{
            background-color: #FF7C1D;
            padding-bottom: 5px;
            padding-top: 65px;
            padding-right: 65px;
            margin-bottom: 1px;}
                .dropdn {
            position: relative;
            display: block;}     
                .dropdn-content {
            text-align: center;
            display: none;
            position: absolute;
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.438);
            overflow:hidden;
            z-index: -20;
            background-color: #ab4903d3;
            width: 180px;
            height:137px;
            margin-top: 8px;
            margin-left: 1000px;
            border-radius: 15%;
            z-index: 1010;
            overflow:hidden;
            animation-name: dropdown;
            animation-duration: 0.15s;} 
                .show {
                    display: block;}

  
/*Footer*/    
    /*BOX FOR FOOTER*/
    .banner33{
        background-color: #fff8e5;
        height: 200px;
        width: 1442px;
        margin-bottom: -170px;
        margin-left: -10px;
        z-index: -20;
        position: relative;
        clear: both;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.438);
        margin-top: -20px;
        
        
    
    }
    
    .la {
      color:rgb(15, 15, 15);
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      font-size: 20px;
      font-weight: bold;
      margin-left: -850px;
      padding-top: 50px;
    }
    .lo {
      color: #050301e7;
      font-family:Verdana, Geneva, Tahoma, sans-serif;
      font-weight: bold;
      font-size: 50px;
      margin-left: -675px;
      margin-top: -20px;
      letter-spacing: -2px;
    }
    .le {
      color: #050301e7;
      font-family:sans-serif;
    
      font-weight: bold;
      font-size: 12px;
      padding-bottom: 40px;
      max-width: 500px;
      margin:auto;
      letter-spacing: 3px;
    align-content: center;}
    
    .lu {
        color: #050301e7;
        font-family:sans-serif;
        font-weight: bold;
        font-size: 12px;
        padding-bottom: -10px;
        max-width: 500px;
        margin-bottom: -140px;
    margin-left: 475px;
    
        letter-spacing: 3px;
      align-content: center;}
    
    


/* ANIMATIONS */
@keyframes lala {
    from{margin-left: 1900px;}
    to{margin-left: 1200px;}}
@keyframes identifier {
    from{margin-left: -500px;}
    to{margin-right: 240px;}}
@keyframes iframe {
    from{margin-left: -500px;}
    to{margin-right: 240px;}}
@keyframes dropdown{
    from{margin-top: -500px;}
    to{margin-bottom: 240px;}}
@keyframes colorchange {
    from{color: #ab7456;}
    to{color: white;}}


/* FONTS */
@font-face {
    font-family: letrica;
    src: url(Fonts/font/Simply\ Olive\ DEMO.ttf);
    color: ivory;}
@font-face {
    font-family: letrica2;
    src: url(Fonts/font/FullyAutomaticDEMO-Regular.otf);
    color: ivory;}
@font-face {
    font-family: letrica;
    src: url(Fonts/font/Mcbungus-Regular.ttf);
    color: ivory;}
@font-face {
    font-family: letrica3;
    src: url(Fonts/font/MintConditionDEMO-Regular.otf);
    color: ivory;}
@font-face {
    font-family: letra;
    src: url(Fonts/font/Popular.ttf);
    color: #f1f1f1;
    size: 40px;}
@font-face {
    font-family: letrica4;
    src: url(Fonts/font/Simply\ Olive\ DEMO.ttf);
    color: ivory;}
@font-face {
    font-family: letra2;
    src: url(Fonts/font/Tadia.ttf);
    color: ivory;}
@font-face {
    font-family: letra3;
    src: url(Fonts/font2/Brown\ Holmes\ DEMO.otf);
    color: ivory;
    outline: thick ridge pink;}
@font-face {
    font-family: letra4;
    src: url(Fonts/font2/HaveFun.ttf);
    color: ivory;}
@font-face {
    font-family: letra5;
    src: url(Fonts/font2/Rainshow\ Condensed.otf);
    color: ivory;}
@font-face {
        font-family: letrica5;
        src: url(Fonts/font3/MachinDEMO-Regular.otf);
        color: ivory;}
@font-face {
            font-family: letrica6;
            src: url(Fonts/font3/Princesset.ttf);
            color: ivory;}



  .trigger-menu-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    padding: 10px;
    z-index: 2;
    background: var(--lightpurple);
    transition: transform 0.4s;
  }
   
  .page-header .trigger-menu {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    color: var(--white);
  }
   
  .page-header .trigger-menu svg {
    fill: var(--white);
    margin-right: 5px;
    transition: transform 0.3s;
  }
   
  .page-header .menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    text-align: center;
    padding: 15vh 0 5vh;
    overflow: hidden;
    z-index: 1;
  }
   
  .page-header .menu a {
    font-size: 3rem;
  }
   
  .page-header .sub-menu a {
    font-size: 1.5rem;
  }




  
  /* DRAFTS */
/* .orange{
    background-color: #c7ccb983;
    position: fixed;
    padding: 20px;
    height: 540px;
    width: 1510px;
    margin-top: 600px;} 
.body{
    background-image: url(background.pdf);
    background-repeat: no-repeat;
    background-size:cover;
    margin-top: -20px;} 
.stack-top{
    z-index: 9;
    margin: 50px; } 
.icono{
    margin-top: 23px;
    margin-left: 15px;
    height: 31px;
    width: 100px;
    background-image: url(logo.png);
    position: absolute;} 

.index{
    width: 1444px;
    height: 90px;
    background-color: #AB4903;
    margin-left: -10px;
    margin-top: -10px;}

.words{
    margin-top: 125px;
    margin-left: 1200px;
    text-decoration: none;
    font-family: letrica;
    font-size: 20px;
    color: #f1f1f1;
    position: absolute;  
    animation-name: lala;
    animation-duration: 0.6s; }

.a1: hover{
    background-color:#87A878;;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 10px;
    padding-top: 10px;
    border-radius: 45%;
}

//<a class="ex1" href="default.asp"> 

.container{
    width: 1200px;
    height: 200px;
    position: relative;
    margin: 200px;}
.box{
    width: 1400;
    height: 1400;            
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.8;} 

   .big{
    
    margin-top: 100px;
    margin-left: 1170px;
    height: 180px;
    width: 240px;
    background-color: #AB4903;
    position: absolute;
    font-family: letrica;
    border-radius: 15%;
    animation-name: lala;
    animation-duration: 0.5s;
}

TEXT THAT APPEARS 

 .ultwo{   BOX
   list-style-type: none;
    margin-top: -10px;
    margin-left: 1095px;
    height: 260px;
    width: 100px;
    overflow: hidden;
    border-radius: 15%;
    background-color: #ab4903c5;
position: absolute;
z-index: 5;} 
    
.ul{
    list-style-type: none;
    margin-top: 500px;
    padding-left: 70px;
    overflow:visible;
    background-color: #AB4903;
    z-index: 8;} 

    */


    .image-fader {
        height: 925px;
        width: 1442px;
       
      margin-top: -200px;
      margin-left: -10px;
     animation-name: imagefade;
     background-image: url("imagenes/one.png");
     animation-duration: 20s;
     
     animation-delay: 3s;
     animation-fill-mode: forwards;
     
      }
    
      @keyframes imagefade {
        0% {
          background-image: url("imagenes/one.png");
          opacity:1;
        }
        11.1111111% {
            background-image: url("imagenes/two.png");
          opacity:1;
        }
        22.2222222% {
            background-image: url("imagenes/three.png");
          opacity:1;
        }
        33.3333333% {
            background-image: url("imagenes/four.png");
          opacity:1; }

        44.4444444% {
        background-image: url("imagenes/five.png");
          opacity:1; 
        }

       55.5555555% {
            background-image: url("imagenes/six.png");
              opacity:1; 
        }

    66.66666666% {
            background-image: url("imagenes/seven.png");
              opacity:1; 
        }

    
    

    
        }

  
/*

      .image-fader img:nth-of-type(1) {
        animation-delay: 10s;
      }
    
      .image-fader img:nth-of-type(2) {
        animation-delay: 8s;
      }
      .image-fader img:nth-of-type(3) {
        animation-delay: 6s;
      }
      .image-fader img:nth-of-type(4) {
        animation-delay: 4s;
      }
      .image-fader img:nth-of-type(5) {
        animation-delay: 2;
      }

      .image-fader img:nth-of-type(6) {
        animation-delay: 0;
      }
      */
    
      .dropbtn4 {
        background-color: #ab4903d3;;
        color: white;
        padding: 16px;
        padding-top: 20px;
        transition: 0.2s;
        border-bottom-left-radius:20px;
        border-bottom-right-radius:20px;
        padding-bottom: 23px;
        padding-left: 43.5px;
        padding-right: 42.8px;
        margin-left: 0.2px;

    font-family: letrica2;
        margin-top: -5px;
        font-size: 16px;
        z-index: 200;
        position: relative;
        border: none;
      }
      
      .dropbtn5 {
        background-color: #ab4903d3;
        color: white;
        transition: 0.2s;
        padding: 16px;
        padding-top: 22px;
        border-top-left-radius:20px;
        border-top-right-radius:20px;
        padding-bottom: 23px;
        padding-left: 4.5px;
        width: 170px;
        padding-right: 5.2px;
        margin-left: 0px;
        margin-top: 0px;

    font-family: letrica2;
        font-size: 16px;
        z-index: 200;
        position: relative;
        border: none;
      }

      .dropdown {
        position: relative;
        display: inline-block;
      }
      
      .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        border-radius: 20px;
        margin-left: -130px;
        margin-top: -65px;
        min-width: 120px;
        height: 80px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;

    transition: 0.6s;
      }
      
      .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;

    transition: 0.6s;
      }
      
      .dropdown-content a:hover {background-color: #ddd;}
      
      .dropdown:hover .dropdown-content {display: block;}
      
      .dropdown:hover .dropbtn4 {background-color: #FF7C1D;}

    .dropbtn5:hover {background-color: #FF7C1D;}






    .english{
        background-color: #ab4903; /* Green */
        border: none;
        color: white;
        width: 120px;
        font-family: letrica2;
        padding:  15px 0px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        margin-top: -3px;
        margin-bottom: -2px;
        font-size: 16px;

        transition: 0.3s;
        border-top-left-radius:20px;
        border-top-right-radius:20px;
        cursor: pointer;
    }

    .spanish{
        background-color: #FF7C1D; /* Green */
        border: none;
        color: white;
        width: 120px;
        padding: 15px 0px;
        font-family: letrica2;
        text-align: center;
        text-decoration: none;

        transition: 0.3s;
        border-bottom-left-radius:20px;
        border-bottom-right-radius:20px;
        display: inline-block;
        font-size: 16px;
        
        cursor: pointer;
    }
    .english:hover{background-color: #FF7C1D;}
    .spanish:hover{background-color: #FF7C1D;}