
  h2{
    font-family: letra3;
    font-size: 50px;
    padding-top: 60px;
    margin-bottom: 0px;
    text-align: center;
    margin-left: 80px;
    margin-right: -160px;
    color: #00000000; 
    -webkit-text-stroke: 2px black;
    letter-spacing: 2px;
}

body{
    height: 550px;
    width: 1200px;
    background-image: url(imagenes/promalala.png);
    background-size: contain;
    margin-top: 340px;
background-repeat: no-repeat;
background-position-y: 62px;

}

body{
    color: #FF7C1D;
    
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-y: scroll; 
}
    
h3{
    font-family: letrica;
    font-size: 30px;
    padding-top: 0px;
    padding-bottom: -10px;
    margin-top: 80px;
    line-height: 100px;
    margin-bottom: -25px;
    text-align: center;
    color: #fdfdfd; 
    letter-spacing: -2px;
}

h4{
    font-family:letrica4;
    font-weight: normal;
    font-size: 18px;
    padding-top: 10px;
    margin-bottom: 0px;
    text-align: center;
    text-align: center;
    margin-left: -30px;
    color: #000000f3; 
    margin-right: 60px;
    position: relative;

}



p{
    font-family: letrica5;
    font-weight: bold;
}


/* Style inputs */
      /*BOX FOR HEADER*/
      ul {
        list-style-type: none;
        width: 1350px;
        height: 70px;
        margin-left: 60px;
        margin-top: -340px;
        padding-left: 40px;
        overflow:visible;
        background-color: #ab4903;
        z-index: 60;
        position: fixed;
        transition: top 0.3s; 
        display: block;}
            ul.hide {
        top: -53px;}
        
        /* WORDS FOR HEADER*/
            li {
    float: left;
    position:relative;
    z-index: 8;} 
            li a {
    display: block;
    font-family: letrica;
    font-size: 20px;
    color: white;
    text-align:left;
    position: relative;
    padding: 25px 90px;
    text-decoration: none;
    z-index: 8;
    transition: 0.6s; }
    li a:hover {
      background-color: #FF7C1D;}  
      ol a:hover {
        background-color: #FF7C1D;}  

        /*LOGO*/
            .logo{ 
                background-image: url(imagenes/yyy.png);
                height: 235px;
                width: 235px;
                margin-left: -50px;
                margin-top: -430px;
                position: fixed;
                font-family: letrica;
                z-index: 70;}

        /*ICONS*/
            .img {
                padding-top: 22px;
                padding-left: 24px;
                padding-right: 24px;
                padding-bottom: 22px;
                margin-top: 0px;
                margin-left: 30px;
                display: block;
                transition: 0.3s; }           
            .img:hover {
                background-color: #FF7C1D;}

        /*DROPDOWN*/
            /*LETTERS FOR DROPDOWN*/
                ol a{ 
    display: block;
    font-family: letrica2;
    font-size: 15px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    margin-left: -70px;
    margin-right: -20px;
    padding-top: 19px; 
    position: relative;
    padding-bottom: 16px; 
    padding-right: 40px;
    padding-left: 40px;
    overflow:hidden;
    z-index: 30;  }
                ol a
                :hover {
    background-color: #FF7C1D;}  
            /*DROPDOWN SETTINGS*/
                .dropbtn2{
                cursor: grabbing;
                margin-top: -73px;
                margin-left: 1200px;
                padding-top: -11px;
                padding-right: 65px;
                padding-bottom: 69px;
                position: absolute;
                background-repeat: no-repeat;
                background-size: 24px;
                border-style: none;
                background-color: #ab4903;
                background-image: url(icons/ajustes-2.png);
                background-position: center;} 
                .dropbtn2:hover{
                background-color: #FF7C1D;
                padding-bottom: 5px;
                padding-top: 65px;
                padding-right: 65px;
                margin-top: -72px;}
                .dropdn2 {
                    position: relative;
                    display: block;}  
                .dropdn2-content {
                    text-align: center;
                    display: none;
                    position: absolute;

                    overflow:visible;
                    background-color: #ab490300;
                    width: 170px;
                    height:122px;
                    margin-top: 7px;
                    margin-left: 1155px;
                    border-radius: 15%;
                animation-name: dropdown;
                animation-duration: 0.15s;
                    z-index: 1010;} 
    
    
            /*DROPDOWN USUARIO*/
                /*Hover*/
                    .dropbtn3{
                cursor: grabbing;
                margin-top: -73px;
                margin-left: 1130px;
                padding-top: -11px;
                padding-right: 65px;
                padding-bottom: 69px;
                position: absolute;
                background-repeat: no-repeat;
                background-size: 24px;
                border-style: none;
                background-color: #ab4903;
                background-image: url(icons/usuario.png);
                background-position: center;} 
                    .dropbtn3:hover{
                background-color: #FF7C1D;
                padding-bottom: 5px;
                padding-top: 65px;
                padding-right: 65px;
                margin-top: -72px;}
                    .dropdn3 {
                    position: relative;
                    display: block;}  
                    .dropdn3-content {
                text-align: center;
                display: none;
                position: absolute;
                box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.438);
                overflow:hidden;
                background-color: #ab4903d3;
                width: 180px;
                height: 116px;
                margin-top: 7px;
                margin-left: 1075px;

            animation-name: dropdown;
            animation-duration: 0.15s;
                border-radius: 15%;
                z-index: 1010;} 

                 

            /*CLICK DROPDOWN COMPRAR*/
                .dropbtn{
            cursor: grabbing;
            margin-top: 0px;
            margin-left: 51px;
            padding-top: 65px;
            padding-right: 65px;
            padding-bottom: 5px;
            background-repeat: no-repeat;
            background-size: 24px;
            border-style: none;
            background-color: #AB4903;
            background-image: url(icons/carrito-de-compras.png);
            background-position: center;}  
                .dropbtn:hover{
            background-color: #FF7C1D;
            padding-bottom: 5px;
            padding-top: 65px;
            padding-right: 65px;
            margin-bottom: 1px;}
                .dropdn {
            position: relative;
            display: block;}     
                .dropdn-content {
            text-align: center;
            display: none;
            position: absolute;
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.438);
            overflow:hidden;
            z-index: -20;
            background-color: #ab4903d3;
            width: 180px;
            height:137px;
            margin-top: 8px;
            margin-left: 1000px;
            border-radius: 15%;
            z-index: 1010;
            overflow:hidden;
            animation-name: dropdown;
            animation-duration: 0.15s;} 
                .show {
                    display: block;}


/*FONTS */
@font-face {
    font-family: letrica;
    src: url(Fonts/font/Simply\ Olive\ DEMO.ttf);
    color: ivory;}
@font-face {
    font-family: letrica2;
    src: url(Fonts/font/FullyAutomaticDEMO-Regular.otf);
    color: ivory;}
@font-face {
    font-family: letrica;
    src: url(Fonts/font/Mcbungus-Regular.ttf);
    color: ivory;}
@font-face {
    font-family: letrica3;
    src: url(Fonts/font/MintConditionDEMO-Regular.otf);
    color: ivory;}
@font-face {
    font-family: letra;
    src: url(Fonts/font/Popular.ttf);
    color: #f1f1f1;
    size: 40px;}
@font-face {
    font-family: letrica4;
    src: url(Fonts/font/Simply\ Olive\ DEMO.ttf);
    color: ivory;}
@font-face {
    font-family: letra2;
    src: url(Fonts/font/Tadia.ttf);
    color: ivory;}
@font-face {
    font-family: letra3;
    src: url(Fonts/font2/Brown\ Holmes\ DEMO.otf);
    color: ivory;
    outline: thick ridge pink;}
@font-face {
    font-family: letra4;
    src: url(Fonts/font2/HaveFun.ttf);
    color: ivory;}
@font-face {
    font-family: letra5;
    src: url(Fonts/font2/Rainshow\ Condensed.otf);
    color: ivory;}
@font-face {
        font-family: letrica5;
        src: url(Fonts/font3/MachinDEMO-Regular.otf);
        color: ivory;}
@font-face {
            font-family: letrica6;
            src: url(Fonts/font3/Princesset.ttf);
            color: ivory;}

            

/*Footer*/    
  /*BOX FOR FOOTER*/
  .banner33{
    background-color: #fff8e5;
    height: 200px;
    width: 1442px;
    margin-bottom: -170px;
    margin-left: -10px;
    z-index: -20;
    position: relative;
    clear: both;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.438);
    margin-top: 190px;
    
    

}

.la {
  color:rgb(15, 15, 15);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
  margin-left: 210px;
  padding-top: 50px;
}
.lo {
  color: #050301e7;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  font-size: 50px;
  margin-left: 200px;
  margin-top: -20px;
  letter-spacing: -2px;
}
.le {
  color: #050301e7;
  font-family:sans-serif;

  font-weight: bold;
  font-size: 12px;
  padding-bottom: 40px;
  max-width: 500px;
  margin:auto;
  letter-spacing: 3px;
align-content: center;}

.lu {
    color: #050301e7;
    font-family:sans-serif;
    font-weight: bold;
    font-size: 12px;
    padding-bottom: -10px;
    max-width: 500px;
    margin-bottom: -140px;
margin-left: 550px;

    letter-spacing: 3px;
  align-content: center;}

.button {
    background-color: #a72b0183;
    border: none;
    height: 215px;
    width: 323px;
    color: #a72b018e;
    text-align: center;
    border-radius:unset;
    text-decoration: none;
    display: block;
    font-size: 16px;
    margin: -230px 900px;
    transition-duration: 0.4s;
    cursor: pointer;
    z-index: 50;
    position: absolute;
    font-family: letra5;
    font-size: 35px;
    letter-spacing: 5px;
    font-variant-position: normal;}

.button1 {
background-color: #19831e00; 
padding-top: 40px;
padding-left: 4px;
color: #ffff; }

.button2 {
    background-color: #19831e00; 
    padding-top: 38px;
    padding-left: 0px;
    color: #ffff; }

    /*a72b01ca*/
.button2:hover {
    background-color: #ff7b1d81;
    color: white;}

/*a72b01ca*/
.button1:hover {
background-color: #ff7b1d81;
color: white;}





.dropbtn4 {
    background-color: #ab4903d3;;
    color: white;
    padding: 16px;
    padding-top: 20px;
    transition: 0.2s;
    border-bottom-left-radius:20px;
    border-bottom-right-radius:20px;
    padding-bottom: 23px;
    padding-left: 43.5px;
    padding-right: 42.8px;
    margin-left: 0.2px;

font-family: letrica2;
    margin-top: -5px;
    font-size: 16px;
    z-index: 200;
    position: relative;
    border: none;
  }
  
  .dropbtn5 {
    background-color: #ab4903d3;
    color: white;
    transition: 0.2s;
    padding: 16px;
    padding-top: 22px;
    border-top-left-radius:20px;
    border-top-right-radius:20px;
    padding-bottom: 23px;
    padding-left: 4.5px;
    width: 170px;
    padding-right: 5.2px;
    margin-left: 0px;
    margin-top: 0px;

font-family: letrica2;
    font-size: 16px;
    z-index: 200;
    position: relative;
    border: none;
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    border-radius: 20px;
    margin-left: -130px;
    margin-top: -65px;
    min-width: 120px;
    height: 80px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;

transition: 0.6s;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;

transition: 0.6s;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn4 {background-color: #FF7C1D;}

.dropbtn5:hover {background-color: #FF7C1D;}






.english{
    background-color: #FF7C1D; /* Green */
    border: none;
    color: white;
    width: 120px;
    font-family: letrica2;
    padding:  15px 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-top: -3px;
    margin-bottom: -2px;
    font-size: 16px;

    transition: 0.3s;
    border-top-left-radius:20px;
    border-top-right-radius:20px;
    cursor: pointer;
}

.spanish{
    background-color: #ab4903; /* Green */
    border: none;
    color: white;
    width: 120px;
    padding: 15px 0px;
    font-family: letrica2;
    text-align: center;
    text-decoration: none;

    transition: 0.3s;
    border-bottom-left-radius:20px;
    border-bottom-right-radius:20px;
    display: inline-block;
    font-size: 16px;
    
    cursor: pointer;
}
.english:hover{background-color: #FF7C1D;}
.spanish:hover{background-color: #FF7C1D;}